.footer{
    background-color: #000000;
    &__container{
     display: flex;
     align-items: center;
     justify-content: space-between;
    }

    &__left{
        display: flex;
        align-items: center;
    }


}

.footer--link{
    color: #FFFFFF;
}
