.main-bottom{
    margin-top: 96px;
    margin-bottom: 96px;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading{
        font-family: 'Ibarra Real Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357143px;
        color: #33323D;
        max-width: 350px;
        margin: 0;
        padding: 0;
    }


}

@media only screen and (max-width:576px){
    .main-bottom{
        &__container{
            flex-direction: column;
            text-align: center;
        }

        &__heading{
            margin-bottom: 40px;
        }
        }



}